In [1]:
pip install notebook

Collecting notebookNote: you may need to restart the kernel to use updated packages.

  Downloading notebook-7.3.2-py3-none-any.whl.metadata (10 kB)
Collecting jupyter-server<3,>=2.4.0 (from notebook)
  Downloading jupyter_server-2.15.0-py3-none-any.whl.metadata (8.4 kB)
Collecting jupyterlab-server<3,>=2.27.1 (from notebook)
  Downloading jupyterlab_server-2.27.3-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyterlab<4.4,>=4.3.4 (from notebook)
  Downloading jupyterlab-4.3.5-py3-none-any.whl.metadata (16 kB)
Collecting notebook-shim<0.3,>=0.2 (from notebook)
  Downloading notebook_shim-0.2.4-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: tornado>=6.2.0 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from notebook) (6.4)
Collecting anyio>=3.1.0 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading anyio-4.8.0-py3-none-any.whl.metadata (4.6 kB)
Collecting argon2-cffi>=21.1 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading argon2_cffi-23.1.0-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: jinja2>=3.0.3 in c:\python312\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (3.1.2)
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->notebook) (8.6.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.7.2)
Collecting jupyter-events>=0.11.0 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading jupyter_events-0.12.0-py3-none-any.whl.metadata (5.8 kB)
Collecting jupyter-server-terminals>=0.4.4 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Collecting nbconvert>=6.4.4 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading nbconvert-7.16.6-py3-none-any.whl.metadata (8.5 kB)
Collecting nbformat>=5.3.0 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading nbformat-5.10.4-py3-none-any.whl.metadata (3.6 kB)
Collecting overrides>=5.0 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: packaging>=22.0 in c:\python312\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (23.2)
Collecting prometheus-client>=0.9 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading prometheus_client-0.21.1-py3-none-any.whl.metadata (1.8 kB)
Collecting pywinpty>=2.0.1 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading pywinpty-2.0.15-cp312-cp312-win_amd64.whl.metadata (5.2 kB)
Requirement already satisfied: pyzmq>=24 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->notebook) (25.1.2)
Collecting send2trash>=1.8.2 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading Send2Trash-1.8.3-py3-none-any.whl.metadata (4.0 kB)
Collecting terminado>=0.8.3 (from jupyter-server<3,>=2.4.0->notebook)
  Downloading terminado-0.18.1-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: traitlets>=5.6.0 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.14.2)
Requirement already satisfied: websocket-client>=1.7 in c:\python312\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.8.0)
Collecting async-lru>=1.0.0 (from jupyterlab<4.4,>=4.3.4->notebook)
  Downloading async_lru-2.0.4-py3-none-any.whl.metadata (4.5 kB)
Collecting httpx>=0.25.0 (from jupyterlab<4.4,>=4.3.4->notebook)
  Downloading httpx-0.28.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: ipykernel>=6.5.0 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jupyterlab<4.4,>=4.3.4->notebook) (6.29.4)
Collecting jupyter-lsp>=2.0.0 (from jupyterlab<4.4,>=4.3.4->notebook)
  Downloading jupyter_lsp-2.2.5-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: setuptools>=40.8.0 in c:\python312\lib\site-packages (from jupyterlab<4.4,>=4.3.4->notebook) (75.6.0)
Collecting babel>=2.10 (from jupyterlab-server<3,>=2.27.1->notebook)
  Downloading babel-2.17.0-py3-none-any.whl.metadata (2.0 kB)
Collecting json5>=0.9.0 (from jupyterlab-server<3,>=2.27.1->notebook)
  Downloading json5-0.10.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: jsonschema>=4.18.0 in c:\python312\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (4.23.0)
Requirement already satisfied: requests>=2.31 in c:\python312\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (2.31.0)
Requirement already satisfied: idna>=2.8 in c:\python312\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (3.6)
Collecting sniffio>=1.1 (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: typing_extensions>=4.5 in c:\python312\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (4.12.2)
Collecting argon2-cffi-bindings (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook)
  Downloading argon2_cffi_bindings-21.2.0-cp36-abi3-win_amd64.whl.metadata (6.7 kB)
Requirement already satisfied: certifi in c:\python312\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.4,>=4.3.4->notebook) (2023.11.17)
Collecting httpcore==1.* (from httpx>=0.25.0->jupyterlab<4.4,>=4.3.4->notebook)
  Downloading httpcore-1.0.7-py3-none-any.whl.metadata (21 kB)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.4,>=4.3.4->notebook)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: comm>=0.1.1 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (1.8.1)
Requirement already satisfied: ipython>=7.23.1 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (8.22.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (1.6.0)
Requirement already satisfied: psutil in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (5.9.8)
Requirement already satisfied: MarkupSafe>=2.0 in c:\python312\lib\site-packages (from jinja2>=3.0.3->jupyter-server<3,>=2.4.0->notebook) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\python312\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\python312\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\python312\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\python312\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (0.21.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\python312\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (306)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading python_json_logger-3.3.0-py3-none-any.whl.metadata (4.0 kB)
Collecting pyyaml>=5.3 (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading PyYAML-6.0.2-cp312-cp312-win_amd64.whl.metadata (2.1 kB)
Collecting rfc3339-validator (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting beautifulsoup4 (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading beautifulsoup4-4.13.3-py3-none-any.whl.metadata (3.8 kB)
Collecting bleach!=5.0.0 (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading bleach-6.2.0-py3-none-any.whl.metadata (30 kB)
Collecting defusedxml (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Using cached defusedxml-0.7.1-py2.py3-none-any.whl.metadata (32 kB)
Collecting jupyterlab-pygments (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading jupyterlab_pygments-0.3.0-py3-none-any.whl.metadata (4.4 kB)
Collecting mistune<4,>=2.0.3 (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading mistune-3.1.2-py3-none-any.whl.metadata (1.7 kB)
Collecting nbclient>=0.5.0 (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading nbclient-0.10.2-py3-none-any.whl.metadata (8.3 kB)
Collecting pandocfilters>=1.4.1 (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading pandocfilters-1.5.1-py2.py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: pygments>=2.4.1 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.17.2)
Collecting fastjsonschema>=2.15 (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading fastjsonschema-2.21.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\python312\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\python312\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook) (2.1.0)
Requirement already satisfied: webencodings in c:\python312\lib\site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.5.1)
Collecting tinycss2<1.5,>=1.1.0 (from bleach[css]!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading tinycss2-1.4.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: decorator in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (3.0.43)
Requirement already satisfied: stack-data in c:\users\acuad\appdata\roaming\python\python312\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.6.3)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.4.6)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Collecting jsonpointer>1.13 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading jsonpointer-3.0.0-py2.py3-none-any.whl.metadata (2.3 kB)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=24.6.0 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading webcolors-24.11.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (1.16.0)
Collecting soupsieve>1.2 (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook)
  Downloading soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: pycparser in c:\python312\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (2.22)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.8.3)
Requirement already satisfied: wcwidth in c:\python312\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.2.13)
Collecting arrow>=0.15.0 (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading arrow-1.3.0-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: executing>=1.2.0 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\acuad\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\acuad\appdata\roaming\python\python312\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.4,>=4.3.4->notebook) (0.2.2)
Collecting types-python-dateutil>=2.8.10 (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->notebook)
  Downloading types_python_dateutil-2.9.0.20241206-py3-none-any.whl.metadata (2.1 kB)
Downloading notebook-7.3.2-py3-none-any.whl (13.2 MB)
   ---------------------------------------- 0.0/13.2 MB ? eta -:--:--
   - -------------------------------------- 0.5/13.2 MB 2.4 MB/s eta 0:00:06
   --- ------------------------------------ 1.0/13.2 MB 2.6 MB/s eta 0:00:05
   ---- ----------------------------------- 1.6/13.2 MB 2.7 MB/s eta 0:00:05
   ------- -------------------------------- 2.4/13.2 MB 2.7 MB/s eta 0:00:05
   -------- ------------------------------- 2.9/13.2 MB 2.6 MB/s eta 0:00:04
   --------- ------------------------------ 3.1/13.2 MB 2.6 MB/s eta 0:00:04
   ----------- ---------------------------- 3.7/13.2 MB 2.5 MB/s eta 0:00:04
   -------------- ------------------------- 4.7/13.2 MB 2.8 MB/s eta 0:00:04
   ---------------- ----------------------- 5.5/13.2 MB 2.9 MB/s eta 0:00:03
   ------------------- -------------------- 6.3/13.2 MB 2.9 MB/s eta 0:00:03
   --------------------- ------------------ 7.1/13.2 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 7.9/13.2 MB 3.1 MB/s eta 0:00:02
   -------------------------- ------------- 8.7/13.2 MB 3.2 MB/s eta 0:00:02
   ----------------------------- ---------- 9.7/13.2 MB 3.2 MB/s eta 0:00:02
   ------------------------------- -------- 10.2/13.2 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 11.0/13.2 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 12.1/13.2 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  12.8/13.2 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 13.2/13.2 MB 3.2 MB/s eta 0:00:00
Downloading jupyter_server-2.15.0-py3-none-any.whl (385 kB)
Downloading jupyterlab-4.3.5-py3-none-any.whl (11.7 MB)
   ---------------------------------------- 0.0/11.7 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.7 MB 3.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.7 MB 3.5 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.7 MB 2.9 MB/s eta 0:00:04
   -------- ------------------------------- 2.4/11.7 MB 2.8 MB/s eta 0:00:04
   ---------- ----------------------------- 3.1/11.7 MB 2.9 MB/s eta 0:00:03
   ----------- ---------------------------- 3.4/11.7 MB 2.6 MB/s eta 0:00:04
   ------------- -------------------------- 3.9/11.7 MB 2.6 MB/s eta 0:00:04
   ---------------- ----------------------- 4.7/11.7 MB 2.7 MB/s eta 0:00:03
   ------------------ --------------------- 5.5/11.7 MB 2.8 MB/s eta 0:00:03
   ---------------------- ----------------- 6.6/11.7 MB 3.0 MB/s eta 0:00:02
   -------------------------- ------------- 7.9/11.7 MB 3.3 MB/s eta 0:00:02
   ------------------------------ --------- 8.9/11.7 MB 3.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.7 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.5/11.7 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.7 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 11.7/11.7 MB 3.4 MB/s eta 0:00:00
Downloading jupyterlab_server-2.27.3-py3-none-any.whl (59 kB)
Downloading notebook_shim-0.2.4-py3-none-any.whl (13 kB)
Downloading anyio-4.8.0-py3-none-any.whl (96 kB)
Downloading argon2_cffi-23.1.0-py3-none-any.whl (15 kB)
Downloading async_lru-2.0.4-py3-none-any.whl (6.1 kB)
Downloading babel-2.17.0-py3-none-any.whl (10.2 MB)
   ---------------------------------------- 0.0/10.2 MB ? eta -:--:--
   -- ------------------------------------- 0.5/10.2 MB 3.4 MB/s eta 0:00:03
   ----- ---------------------------------- 1.3/10.2 MB 3.2 MB/s eta 0:00:03
   --------- ------------------------------ 2.4/10.2 MB 3.7 MB/s eta 0:00:03
   -------------- ------------------------- 3.7/10.2 MB 4.4 MB/s eta 0:00:02
   ----------------- ---------------------- 4.5/10.2 MB 4.5 MB/s eta 0:00:02
   --------------------- ------------------ 5.5/10.2 MB 4.4 MB/s eta 0:00:02
   ---------------------- ----------------- 5.8/10.2 MB 4.3 MB/s eta 0:00:02
   ------------------------ --------------- 6.3/10.2 MB 3.8 MB/s eta 0:00:02
   -------------------------- ------------- 6.8/10.2 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.1/10.2 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 9.2/10.2 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  10.0/10.2 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 10.2/10.2 MB 3.8 MB/s eta 0:00:00
Downloading httpx-0.28.1-py3-none-any.whl (73 kB)
Downloading httpcore-1.0.7-py3-none-any.whl (78 kB)
Downloading json5-0.10.0-py3-none-any.whl (34 kB)
Downloading jupyter_events-0.12.0-py3-none-any.whl (19 kB)
Downloading jupyter_lsp-2.2.5-py3-none-any.whl (69 kB)
Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl (13 kB)
Downloading nbconvert-7.16.6-py3-none-any.whl (258 kB)
Downloading nbformat-5.10.4-py3-none-any.whl (78 kB)
Downloading overrides-7.7.0-py3-none-any.whl (17 kB)
Downloading prometheus_client-0.21.1-py3-none-any.whl (54 kB)
Downloading pywinpty-2.0.15-cp312-cp312-win_amd64.whl (1.4 MB)

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\Python312\\share'
Consider using the `--user` option or check the permissions.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('10-k.csv')

In [3]:
display(df)

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,2024.0,Microsoft,245122.0,88136.0,512163.0,243686.0,118548.0
1,2023.0,Microsoft,211915.0,72361.0,411976.0,205753.0,87582.0
2,2022.0,Microsoft,198270.0,72738.0,364840.0,198298.0,89035.0
3,2024.0,Tesla,97690.0,7153.0,122070.0,48390.0,7153.0
4,2023.0,Tesla,96773.0,14974.0,106618.0,43009.0,14974.0
5,2022.0,Tesla,81462.0,12587.0,82338.0,36440.0,12587.0
6,2024.0,Apple,391035.0,93736.0,364980.0,308030.0,118254.0
7,2023.0,Apple,383285.0,96995.0,352583.0,290437.0,110543.0
8,2022.0,Apple,394328.0,99803.0,352755.0,302083.0,122151.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.dropna()

In [5]:
display(df)

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,2024.0,Microsoft,245122.0,88136.0,512163.0,243686.0,118548.0
1,2023.0,Microsoft,211915.0,72361.0,411976.0,205753.0,87582.0
2,2022.0,Microsoft,198270.0,72738.0,364840.0,198298.0,89035.0
3,2024.0,Tesla,97690.0,7153.0,122070.0,48390.0,7153.0
4,2023.0,Tesla,96773.0,14974.0,106618.0,43009.0,14974.0
5,2022.0,Tesla,81462.0,12587.0,82338.0,36440.0,12587.0
6,2024.0,Apple,391035.0,93736.0,364980.0,308030.0,118254.0
7,2023.0,Apple,383285.0,96995.0,352583.0,290437.0,110543.0
8,2022.0,Apple,394328.0,99803.0,352755.0,302083.0,122151.0

In [7]:
print(df.dtypes)

Year                                   float64
Company                                 object
Total Revenue                          float64
Net Income                             float64
Total Assets                           float64
Total Liabilities                      float64
Cash Flow from Operating Activities    float64
dtype: object

In [11]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change()*100

In [12]:
df['Net Income Growth(%)'] = df.groupby(['Company'])['Net Income'].pct_change()*100

In [13]:
display(df)

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth(%)
0,2024.0,Microsoft,245122.0,88136.0,512163.0,243686.0,118548.0,NaN,NaN
1,2023.0,Microsoft,211915.0,72361.0,411976.0,205753.0,87582.0,-13.547132,-17.898475
2,2022.0,Microsoft,198270.0,72738.0,364840.0,198298.0,89035.0,-6.438902,0.520999
3,2024.0,Tesla,97690.0,7153.0,122070.0,48390.0,7153.0,NaN,NaN
4,2023.0,Tesla,96773.0,14974.0,106618.0,43009.0,14974.0,-0.938684,109.338739
5,2022.0,Tesla,81462.0,12587.0,82338.0,36440.0,12587.0,-15.821562,-15.940964
6,2024.0,Apple,391035.0,93736.0,364980.0,308030.0,118254.0,NaN,NaN
7,2023.0,Apple,383285.0,96995.0,352583.0,290437.0,110543.0,-1.981920,3.476786
8,2022.0,Apple,394328.0,99803.0,352755.0,302083.0,122151.0,2.881146,2.894995

In [14]:
df.fillna(0, inplace=True)

In [15]:
display(df)

,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth(%)
0,2024.0,Microsoft,245122.0,88136.0,512163.0,243686.0,118548.0,0.000000,0.000000
1,2023.0,Microsoft,211915.0,72361.0,411976.0,205753.0,87582.0,-13.547132,-17.898475
2,2022.0,Microsoft,198270.0,72738.0,364840.0,198298.0,89035.0,-6.438902,0.520999
3,2024.0,Tesla,97690.0,7153.0,122070.0,48390.0,7153.0,0.000000,0.000000
4,2023.0,Tesla,96773.0,14974.0,106618.0,43009.0,14974.0,-0.938684,109.338739
5,2022.0,Tesla,81462.0,12587.0,82338.0,36440.0,12587.0,-15.821562,-15.940964
6,2024.0,Apple,391035.0,93736.0,364980.0,308030.0,118254.0,0.000000,0.000000
7,2023.0,Apple,383285.0,96995.0,352583.0,290437.0,110543.0,-1.981920,3.476786
8,2022.0,Apple,394328.0,99803.0,352755.0,302083.0,122151.0,2.881146,2.894995

In [16]:
# Aggregate metrics by company
company_agg = df.groupby("Company").agg({
    "Total Revenue": ["sum", "mean", "max"],
    "Net Income": ["sum", "mean", "max"],
    "Total Assets": ["sum", "mean", "max"],
    "Total Liabilities": ["sum", "mean", "max"],
    "Cash Flow from Operating Activities": ["sum", "mean", "max"]
}).reset_index()

In [17]:
# Aggregate metrics by year
year_agg = df.groupby("Year").agg({
    "Total Revenue": ["sum", "mean", "max"],
    "Net Income": ["sum", "mean", "max"],
    "Total Assets": ["sum", "mean", "max"],
    "Total Liabilities": ["sum", "mean", "max"],
    "Cash Flow from Operating Activities": ["sum", "mean", "max"]
}).reset_index()

In [21]:
# Print the aggregated data
print("Aggregated Data by Company:")
display(company_agg)

Aggregated Data by Company:

     Company Total Revenue                          Net Income                \
                       sum           mean       max        sum          mean
0      Apple     1168648.0  389549.333333  394328.0   290534.0  96844.666667
1  Microsoft      655307.0  218435.666667  245122.0   233235.0  77745.000000
2      Tesla      275925.0   91975.000000   97690.0    34714.0  11571.333333

           Total Assets                          Total Liabilities  \
       max          sum           mean       max               sum
0  99803.0    1070318.0  356772.666667  364980.0          900550.0
1  88136.0    1288979.0  429659.666667  512163.0          647737.0
2  14974.0     311026.0  103675.333333  122070.0          127839.0

                           Cash Flow from Operating Activities                 \
            mean       max                                 sum           mean
0  300183.333333  308030.0                            350948.0  116982.666667
1  215912.333333  243686.0                            295165.0   98388.333333
2   42613.000000   48390.0                             34714.0   11571.333333


        max
0  122151.0
1  118548.0
2   14974.0

In [ ]:
print("\nAggregated Data by Year:")
display(year_agg)

Aggregated Data by Year:

     Year Total Revenue                          Net Income                \
                    sum           mean       max        sum          mean
0  2022.0      674060.0  224686.666667  394328.0   185128.0  61709.333333
1  2023.0      691973.0  230657.666667  383285.0   184330.0  61443.333333
2  2024.0      733847.0  244615.666667  391035.0   189025.0  63008.333333

           Total Assets                          Total Liabilities  \
       max          sum           mean       max               sum
0  99803.0     799933.0  266644.333333  364840.0          536821.0
1  96995.0     871177.0  290392.333333  411976.0          539199.0
2  93736.0     999213.0  333071.000000  512163.0          600106.0

                           Cash Flow from Operating Activities                \
            mean       max                                 sum          mean
0  178940.333333  302083.0                            223773.0  74591.000000
1  179733.000000  290437.0                            213099.0  71033.000000
2  200035.333333  308030.0                            243955.0  81318.333333


        max
0  122151.0
1  110543.0
2  118548.0

# **Financial Performance Analysis Summary**

### **1. Revenue & Net Income Trends**
- Microsoft, Tesla, and Apple have shown **consistent revenue growth** over the years.
- **Apple** has the highest **total revenue**, with its peak in 2024.
- **Tesla** has lower revenue compared to Microsoft and Apple but has shown a strong **net income growth rate**.

### **2. Assets & Liabilities Insights**
- Microsoft has **the highest total assets**, indicating strong financial backing.
- Tesla has a lower asset base but also maintains **relatively lower liabilities**.
- Liabilities have **increased across all companies** in 2024, which may indicate higher investments or financial obligations.

### **3. Cash Flow from Operating Activities**
- Apple and Microsoft maintain **strong operating cash flow**, reinforcing their ability to generate cash from core business operations.
- Tesla, despite growing revenue, has significantly lower cash flow, suggesting **higher reinvestment costs or lower operational efficiency**.

### **4. Yearly Comparisons**
- Total revenue and net income **increased across all three companies in 2024**, compared to 2022 and 2023.
- 2024 recorded **the highest total revenue** across companies, showing strong market performance.